In [1]:
# Question (1):Go to framingum.csv and Take those People who are Male and  his education level is 3 and Heart Rate is grater than 65.
# Question (1):Repeat the Question 1 for Female
# Question (3) Write group by for making male as index and citrate per day in values for mean analysis
# Question (4) Repeat the Question 3 for Pivot
# Question (5) Create 2 csv file one contain only male and other contain only female 
# # Question (6) Create 2 csv file one contain only male and other contain only female with education level 3
# Question (7)Repeat Question 1 for Male
# Question(8) Create Pivot for Question 3

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv(r'C:\Users\RISHU YADAV\Downloads\framingham.csv')

In [4]:
df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [5]:
# Question (1):Go to framingum.csv and Take those People who are Male and  his education level is 3 and Heart Rate is grater than 65.

df.loc[(df['male']==1) & (df['education']==3)&(df['heartRate']>65),['male','education','heartRate']]

      male  education  heartRate
39       1        3.0       71.0
49       1        3.0       80.0
111      1        3.0       70.0
119      1        3.0       88.0
122      1        3.0       80.0
...    ...        ...        ...
4146     1        3.0       67.0
4178     1        3.0       68.0
4222     1        3.0       70.0
4231     1        3.0       80.0
4238     1        3.0       67.0

[165 rows x 3 columns]

In [6]:
# Question (1):Repeat the Question 1 for Female

df.loc[(df['male']==0) & (df['education']==3)&(df['heartRate']>65),['male','education','heartRate']]

      male  education  heartRate
4        0        3.0       85.0
23       0        3.0       71.0
28       0        3.0       85.0
44       0        3.0       76.0
77       0        3.0       80.0
...    ...        ...        ...
4188     0        3.0       92.0
4214     0        3.0       76.0
4216     0        3.0       70.0
4229     0        3.0       75.0
4239     0        3.0       85.0

[374 rows x 3 columns]

In [7]:
# Question (3) Write group by for making male as index and citrate per day in values for mean analysis

df.groupby(['male','cigsPerDay']).agg({'heartRate':['mean']})

                 heartRate
                      mean
male cigsPerDay
0    0.0         76.576520
     1.0         77.372549
     2.0         78.000000
     3.0         74.197183
     4.0         80.833333
     5.0         76.880435
     6.0         80.111111
     7.0         72.571429
     8.0         77.444444
     9.0         77.170213
     10.0        76.520408
     11.0        68.666667
     12.0        79.000000
     14.0        76.500000
     15.0        78.796460
     16.0        78.000000
     17.0        78.333333
     18.0        76.750000
     20.0        78.793333
     23.0        85.000000
     25.0        85.764706
     30.0        75.420000
     35.0        74.000000
     40.0        83.727273
     43.0        86.272727
     50.0        90.000000
1    0.0         72.243697
     1.0         71.750000
     2.0         75.200000
     3.0         71.793103
     4.0         68.333333
     5.0         71.034483
     6.0         72.111111
     7.0         73.400000
     8.0         66.000000
     9.0         73.222222
     10.0        73.200000
     11.0        85.000000
     12.0        75.000000
     13.0        75.333333
     15.0        76.350515
     16.0        70.500000
     17.0        70.500000
     18.0        78.000000
     19.0        72.500000
     20.0        75.877880
     23.0        79.000000
     25.0        74.184211
     29.0        77.000000
     30.0        76.464286
     35.0        72.352941
     38.0        75.000000
     40.0        76.971014
     43.0        80.600000
     45.0        74.333333
     50.0        74.800000
     60.0        73.545455
     70.0        98.000000

In [8]:
# Question (4) Repeat the Question 3 for Pivot

table = pd.pivot_table(df, values='heartRate', index=['male','cigsPerDay'], aggfunc=np.mean)

In [9]:
table

                 heartRate
male cigsPerDay
0    0.0         76.576520
     1.0         77.372549
     2.0         78.000000
     3.0         74.197183
     4.0         80.833333
     5.0         76.880435
     6.0         80.111111
     7.0         72.571429
     8.0         77.444444
     9.0         77.170213
     10.0        76.520408
     11.0        68.666667
     12.0        79.000000
     14.0        76.500000
     15.0        78.796460
     16.0        78.000000
     17.0        78.333333
     18.0        76.750000
     20.0        78.793333
     23.0        85.000000
     25.0        85.764706
     30.0        75.420000
     35.0        74.000000
     40.0        83.727273
     43.0        86.272727
     50.0        90.000000
1    0.0         72.243697
     1.0         71.750000
     2.0         75.200000
     3.0         71.793103
     4.0         68.333333
     5.0         71.034483
     6.0         72.111111
     7.0         73.400000
     8.0         66.000000
     9.0         73.222222
     10.0        73.200000
     11.0        85.000000
     12.0        75.000000
     13.0        75.333333
     15.0        76.350515
     16.0        70.500000
     17.0        70.500000
     18.0        78.000000
     19.0        72.500000
     20.0        75.877880
     23.0        79.000000
     25.0        74.184211
     29.0        77.000000
     30.0        76.464286
     35.0        72.352941
     38.0        75.000000
     40.0        76.971014
     43.0        80.600000
     45.0        74.333333
     50.0        74.800000
     60.0        73.545455
     70.0        98.000000

In [10]:
# Question (5) Create 2 csv file one contain only male and other contain only female

male=df.query('male==1')

In [11]:
male

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
8,1,52,1.0,0,0.0,0.0,0,1,0,260.0,141.5,89.0,26.36,76.0,79.0,0
9,1,43,1.0,1,30.0,0.0,0,1,0,225.0,162.0,107.0,23.61,93.0,88.0,0
12,1,46,1.0,1,15.0,0.0,0,1,0,294.0,142.0,94.0,26.31,98.0,64.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4231,1,58,3.0,0,0.0,0.0,0,1,0,187.0,141.0,81.0,24.96,80.0,81.0,0
4232,1,68,1.0,0,0.0,0.0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.0,1
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0

In [12]:
male.to_csv('male_data.csv')

In [13]:
female=df.query('male==0')

In [14]:
female

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
5,0,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
6,0,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4230,0,56,1.0,1,3.0,0.0,0,1,0,268.0,170.0,102.0,22.89,57.0,NaN,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [15]:
female.to_csv('female_data.csv')

In [16]:
# Question (6) Create 2 csv file one contain only male and other contain only female with education level 3

male = df[(df.male==1) & (df.education==3)]

In [17]:
male

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
16,1,48,3.0,1,10.0,0.0,0,1,0,232.0,138.0,90.0,22.37,64.0,72.0,0
39,1,36,3.0,0,0.0,0.0,0,0,0,180.0,111.0,73.0,27.78,71.0,80.0,0
49,1,36,3.0,1,20.0,NaN,0,1,0,194.0,139.0,93.0,24.33,80.0,62.0,0
71,1,42,3.0,1,10.0,0.0,0,0,0,175.0,116.0,72.5,28.61,63.0,95.0,0
111,1,51,3.0,0,0.0,0.0,0,1,0,214.0,145.0,92.5,26.09,70.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4178,1,41,3.0,1,30.0,0.0,0,0,0,210.0,132.5,85.0,28.62,68.0,70.0,0
4222,1,53,3.0,0,0.0,0.0,0,1,0,289.0,188.0,110.0,26.70,70.0,63.0,0
4231,1,58,3.0,0,0.0,0.0,0,1,0,187.0,141.0,81.0,24.96,80.0,81.0,0
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0

In [18]:
male.to_csv('male_data.csv')

In [19]:
female = df[(df.male==0) & (df.education==3)]

In [20]:
female

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
13,0,41,3.0,0,0.0,1.0,0,1,0,332.0,124.0,88.0,31.31,65.0,84.0,0
23,0,52,3.0,1,20.0,0.0,0,0,0,215.0,132.0,82.0,25.11,71.0,75.0,0
28,0,61,3.0,0,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4191,0,37,3.0,1,15.0,0.0,0,0,0,173.0,101.0,69.0,20.02,63.0,73.0,0
4214,0,56,3.0,1,5.0,0.0,0,0,0,230.0,123.0,78.5,24.71,76.0,87.0,1
4216,0,59,3.0,1,20.0,0.0,0,0,0,251.0,125.0,80.0,22.18,70.0,70.0,0
4229,0,51,3.0,1,20.0,0.0,0,1,0,251.0,140.0,80.0,25.60,75.0,NaN,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [21]:
female.to_csv('female_data.csv')

In [22]:
# Question (7)Repeat Question 1 for Male

df.loc[(df['male']==1) & (df['education']==3)&(df['heartRate']>65),['male','education','heartRate']]

      male  education  heartRate
39       1        3.0       71.0
49       1        3.0       80.0
111      1        3.0       70.0
119      1        3.0       88.0
122      1        3.0       80.0
...    ...        ...        ...
4146     1        3.0       67.0
4178     1        3.0       68.0
4222     1        3.0       70.0
4231     1        3.0       80.0
4238     1        3.0       67.0

[165 rows x 3 columns]

In [23]:
# Question(8) Create Pivot for Question 3

table = pd.pivot_table(df, values='heartRate', index=['male','cigsPerDay'], aggfunc=np.mean)

In [24]:
table

                 heartRate
male cigsPerDay
0    0.0         76.576520
     1.0         77.372549
     2.0         78.000000
     3.0         74.197183
     4.0         80.833333
     5.0         76.880435
     6.0         80.111111
     7.0         72.571429
     8.0         77.444444
     9.0         77.170213
     10.0        76.520408
     11.0        68.666667
     12.0        79.000000
     14.0        76.500000
     15.0        78.796460
     16.0        78.000000
     17.0        78.333333
     18.0        76.750000
     20.0        78.793333
     23.0        85.000000
     25.0        85.764706
     30.0        75.420000
     35.0        74.000000
     40.0        83.727273
     43.0        86.272727
     50.0        90.000000
1    0.0         72.243697
     1.0         71.750000
     2.0         75.200000
     3.0         71.793103
     4.0         68.333333
     5.0         71.034483
     6.0         72.111111
     7.0         73.400000
     8.0         66.000000
     9.0         73.222222
     10.0        73.200000
     11.0        85.000000
     12.0        75.000000
     13.0        75.333333
     15.0        76.350515
     16.0        70.500000
     17.0        70.500000
     18.0        78.000000
     19.0        72.500000
     20.0        75.877880
     23.0        79.000000
     25.0        74.184211
     29.0        77.000000
     30.0        76.464286
     35.0        72.352941
     38.0        75.000000
     40.0        76.971014
     43.0        80.600000
     45.0        74.333333
     50.0        74.800000
     60.0        73.545455
     70.0        98.000000